/* -------------------DEFAULT SETUP----------------- */
/* ------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
/* -------------------------------------------------- */
/* -------------------------------------------------- */
.container{
    width: 1140px;
    margin: 0 auto ; 
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* ---------------------HEADER------------------------------ */
/* --------------------------------------------------- */
header{
    background-image: url("../images/gioi_thieu.jpg");
    background-size: cover;
    height: 250px; 
   
}
/* .heading-main-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-300%);
      
}
.heading-main-box h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 1px;
    color: orangered;
    line-height: 55px;
   
} */

/* ------------------------TOPNAV--------------------------------- */
/* ---------------------------------------------------------- */

.nav {
    overflow: hidden;
    background-color: rgb(30, 59, 224);
  }
  
  .nav a {
    float: left;
    display: block;
    color: rgb(212, 201, 197);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
  }
  
  /* Change color on hover */
  .nav a:hover {
    background-color: rgb(74, 76, 238);
  }


    /*-----------------------------SECTION MAIN------------------------------ */
  /* --------------------------------------------------------------- */



/* ----------------DESCRIPTION-SECTION-------------------------------- */
.des-left ul li{
  list-style: none;
}
.des-left-top ul li {
border-bottom: 1px dotted black;
font-weight: bold;
}
.des-left h3 {
  background:  rgb(30, 59, 224);
  /*height: 30px;*/
  text-align: center;
  color: whitesmoke;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}
.des-left ul li a {
  display: inline;
  text-decoration: none;
  line-height: 50px;
  font-size: 13px;
  margin-left: 10px;
  color:rgb(53, 50, 50);
  
}

/* --------des-left-right---------  */
/*.des-left img {*/
/*    width: 40px;*/
/*    vertical-align: middle;*/
/*    border-radius: 10%;*/
/*}*/
/*.des-right ul li a{*/
/*  color:  rgb(30, 59, 224);*/
/*}*/
/* fixxxxxxx */
.des-right-img img{
    width: 80%;
}
.des-right-title a{
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(30, 59, 224);
    text-decoration: none;
}
.des-right-title p{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
}
.des-right-border {
    border-bottom: 1px dotted black;
    font-weight: bold;
    margin-top: 5px;
}

/* end fixx */
.index-news-img {
    width: 100%;
    height: 400px;
}

.des-middle span {
    float: left;
    width: 100%;
    color: #777;
    margin: 3px 0 10px;
    font-size: 11px;
}
.des-middle h1{
    float: left;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0 5px;
    width: 100%;
}
.des-middle .p-long{
    display: block;
    text-align: justify;
    color: #070a0e;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    line-height: 30px;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
}
.news-bar  {
  background: linear-gradient(to left, white 50%, #0000ff 50%);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 5px;
  color: #ffffff;
  margin-bottom: 5px;
  border-radius: 10px;
  border-bottom: 2px solid #0000ff;
}
.news-bar-img {
  width: 30px;
  vertical-align: middle;
}

/* ----------------------- SCHEDULE---------------------------------- */
.schedule a{
  text-decoration: none;
  color: rgb(30, 59, 224);
}
.schedule {
  margin-bottom: 30px;
}
/*.pagination li {*/
/*    list-style: none;*/
/*    float: left;*/
/*    margin-left: 4px;*/
/*}*/
/*.pagination {*/
/*    display: inline-block;*/
/*    margin: 0 auto;*/
/*}*/

.paginate{
    left: 50%;
    top: 50%;
    margin: 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 40px;
}
.paginate li {
    display: inline-block;
    list-style: none;
}
.paginate li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: #252525;
    border-radius: 4px;
    box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
}
.paginate a.active {
    background-color: orangered;
    color: white;
    border-radius: 5px;
}


/* --------------------CONTACT------------------------------ */
.contact-information{
  list-style: none;
  word-spacing: 1px;
  line-height: 70px;
  margin-top: 10px;
  font-size: 15px;
}
.contact-section form{
  margin-top: 20px;
}
.contact-information .small-icon{
  color:  rgb(209, 58, 12);
}
input[type=text], textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}
input[type=submit] {
  background-color: rgb(209, 58, 12);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
/* ----------------------------ABOUT-PICTURE-------------------------------------- */
.gallery .about-picture {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}
.gallery .about-picture .picture-1{
  max-width: 100%;
  height: auto;
}
.about-picture .responsive {
  padding: 0 6px;
  float: left;
  width: 33.33333%;
  margin-bottom: 15px;
}
.about-picture .desc {
  padding: 15px;
  text-align: center;
}
.picture-detail {
  border: 1px solid #ccc;
}
.picture-detail img {
  width: 100%;
  height: 200px;
}
.picture-detail:hover{
  border: 1px solid #777;
}
/* -------------------------TIMETABLE--------------------------- */
.timetable {
  margin-left: 10px;
  margin-right: 10px;
}
.timetable-img img{
  width: 100%;
}
.timetable-table, td, th {
  border: 2px solid rgb(62, 139, 240);
}

.timetable-table table { 
  width: 100%;
}

.timetable-table th {
  height: 50px;
  background-color:  rgb(30, 59, 224);
  color: #ffffff;
}
.timetable-table td {
  height: 50px;
  text-align: center;
}
.timetable-table a{
  text-decoration: none;
  font-size: 15PX;
  font-weight: 700;
  color: rgb(62, 139, 240);
}

/* -------------------------NEWS-------------------------------------- */
.index-news a{
  text-decoration: none;
  color: rgb(30, 59, 224);
  font-weight: 700;
}
.list-news ul li {
  list-style: none;
  border-bottom: 1px solid rgb(30, 59, 224);
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
.list-news img{
  width: 150px;
  height: 120px;
  float: left;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
}
.list-news ul li a{
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  color: rgb(30, 59, 224);
}
.list-news p {
  display: block;
  text-align: justify;
  color: #070a0e;
  width: 100%;
  line-height: 25px;
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
}
/* ----------------------------HOME--------------------------------------- */
.home .home-responsive {
  margin: 10px 20px;
 
}
.home .home-img img{
  width: 100%;
}
.home-news img{
  width: 100%;
    height: 180px;
}
.home-news span{
  float: left;
  width: 100%;
  color: #777;
  margin: 3px 0 10px;
  font-size: 11px;
}
.home-news h1{
  font-size: 15px;
  font-weight: 700;
}
.home-news a{
  text-decoration: none;
  color: rgb(30, 59, 224);
  font-size: 12px;
  font-weight: 700;
}
.title-home-news {
  height: 70px;
}
.home-news p {
  display: block;
  color: #070a0e;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  line-height: 30px;
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: inherit
}
.home h2{
  color: #070a0e;
}
.border-home-news{
  border-bottom: 2px solid wheat;
}
.home-focus {
  margin-right: 40%;
}
.home-focus ul li a{
  text-decoration: none;
  display: block;
  font-size: 15px;
  font-weight: 700;
  color: rgb(14, 12, 12);
}
.home-focus span{
  width: 100%;
  color: #777;
  margin: 3px 0 10px;
  font-size: 11px;
}
/* .home-slide-image img{
  width: 100%;
  height: 280px;
  margin-top: 5px;

} */
/* Change slide */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
    margin-top: 2px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.fade img{
  height: 270px;
}
.home-list-image{
  width: 100%;
}
.home-list-image a{
    margin-top: 0px;
    float: right;
    font-size: 12px;
    list-style: none;
    text-decoration: none;
}
.home-list-image img{
    width: 130px;
 }
 .home-list-image ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
	align-items: stretch;
  align-content: stretch;
  margin-top: 10px;
  
 }
 .home-list-image li{
     list-style: none;
     
 }
/* -------------------------------------------------------------------- */
/* --------------------------GALERY DETAIL----------------------------- */
.images-detail{
    margin: 10px 50px;
}
.images-detail img{
    transition: 1s;
    padding: 15px;
    width: 200px;
    height: 200px;
}
.images-detail img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

/* ------------------------FOOTER-------------------------------------- */
/* -------------------------------------------------------------------- */

  footer {
    background-color: rgb(30, 59, 224);
    height: 200px;
    padding: 10px;
  }
  h2{
    color: whitesmoke;
    font-weight: 700;
    text-align: left;
    font-size: 15px;
}
h2:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: wheat;
    margin: 0 auto;
    margin-top: 5px;
 }
 .sponsors-showcase{
    margin-top: 10px;
   
   }
   .logo-sponsors{
       width: 150px;
       cursor: pointer;
       transition: all 2s;
   }
   .sponsors-showcase li{
       list-style: none;
       float: left;
       width: 30%;
       text-align: center;
       margin-right: 15px;
   }
   .information{
    list-style: none;
    color: white;
    word-spacing: 1px;
    line-height: 30px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700px;
}
/* ------------------------------------------------------------------- */
.fix-top{
  margin-top: 0px;
}

/*----------------------SLIDE HOME TOP-------------------------------------*/

.slider-wrapper {
  width: 100%;
  height: 500px;
    position: relative;
    margin-top: 5px;
}

.slide {
  float: left;
  position: absolute;
  width: 100%;
  height: 500px;
  opacity: 0;
  transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
  opacity: 1;
}